---
import {
  webVitalScale,
  webVitalScaleInner,
  webVitalScaleGood,
  webVitalScaleNeedsImprovement,
  webVitalScalePoor,
  webVitalScaleScoreContainer,
  webVitalScaleScore,
} from "./WebVitalScale.css";

interface Props {
  class?: string;
  range: [number, number];
}

const { range, class: className } = Astro.props;
---

<nray-web-vital-scale
  class:list={["web-vital-scale", webVitalScale, className]}
  data-range={range[0] + range[1]}
>
  <div class={webVitalScaleInner}>
    <div class={webVitalScaleGood} style={`flex-basis: ${range[0]}px`}>
      GOOD
    </div>
    <div
      class={webVitalScaleNeedsImprovement}
      style={`flex-basis: ${range[1] - range[0]}px`}
    >
      NEEDS IMPROVEMENT
    </div>
    <div class={webVitalScalePoor} style={`flex-basis: ${range[0]}px`}>
      POOR
    </div>
  </div>
  <div class={webVitalScaleScoreContainer}>
    <div class=`web-vital-scale__score ${webVitalScaleScore}`>0</div>
  </div>
</nray-web-vital-scale>

<script>
  import type { EasingGenerator } from "motion";
  import { animate, spring } from "motion";

  function getRelativeBox(parent: HTMLElement, child: HTMLElement) {
    const parentBox = parent.getBoundingClientRect();
    const childBox = child.getBoundingClientRect();

    return {
      width: childBox.width,
      height: childBox.height,
      x: childBox.x === 0 ? 0 : childBox.x - parentBox.x,
      y: childBox.y === 0 ? 0 : childBox.y - parentBox.y,
    };
  }

  export class WebVitalScale extends HTMLElement {
    #value?: number;
    #score: HTMLElement;
    #easing: EasingGenerator;
    #range: number;

    constructor() {
      super();

      this.#score = this.querySelector(".web-vital-scale__score")!;
      this.#easing = spring({ damping: 28, stiffness: 600 });
      this.#range = Number.parseInt(this.dataset.range!);
    }

    set value(value: number) {
      if (value === this.#value) {
        return;
      }

      if (this.#value === undefined) {
        this.#value = value;
        this.animateEntrance(value);
        return;
      }

      this.#value = value;
      this.animateToNextValue(value);
    }

    changeValue(value: number) {
      this.#score.textContent = `${value.toLocaleString()} ms`;

      const scaleWidth = this.getBoundingClientRect().width;
      const thumbWidth = this.#score.getBoundingClientRect().width;

      const thumbStart = (value - this.#range / 2) / this.#range;

      // See if the end of the thumb is past the end of the scale.
      const thumbEndComputed =
        Math.abs(thumbStart) * scaleWidth + thumbWidth / 2;

      if (thumbEndComputed > scaleWidth / 2) {
        this.#score.parentElement!.style.justifyContent =
          thumbStart < 0 ? "flex-start" : "flex-end";
        this.#score.style.insetInlineStart = "auto";

        return;
      }

      this.#score.parentElement!.style.justifyContent = "center";
      this.#score.style.insetInlineStart = `${(thumbStart * 100).toFixed(2)}%`;
    }

    animateToNextValue(value: number) {
      // First
      const before = getRelativeBox(this, this.#score);

      // Set change
      this.changeValue(value);

      // Last
      const after = getRelativeBox(this, this.#score);

      // Invert
      const invert = before.x - after.x;

      animate(
        this.#score,
        {
          x: [invert, 0],
        },
        { easing: this.#easing },
      );
    }

    animateEntrance(value: number) {
      this.changeValue(value);

      animate(
        this.#score,
        {
          opacity: [0, 1],
          scale: [0.7, 1],
        },
        { easing: this.#easing },
      );
    }
  }

  customElements.define("nray-web-vital-scale", WebVitalScale);
</script>
