---
import type { MarkdownHeading } from "astro";
import TableOfContentsList from "./TableOfContentsList.astro";
import styles from "./TableOfContentsListItem.module.css";
const { tableOfContentsListItem, tableOfContentsListItemLink } = styles;

interface Heading extends MarkdownHeading {
  children: MarkdownHeading[];
}

interface Props {
  heading: Heading;
}

const { heading } = Astro.props;
---

<li
  class="table-of-contents-item"
  id={`toc-${heading.slug}`}
  class:list={[{ [tableOfContentsListItem]: heading.depth !== 2 }]}
>
  <a
    class={`table-of-contents-link ${tableOfContentsListItemLink}`}
    href={`#${heading.slug}`}
  >
    {heading.text}
  </a>
  {
    heading.children.length > 0 && (
      <TableOfContentsList headings={heading.children} />
    )
  }
</li>
