---
import Layout from "@layouts/Layout.astro";
import { getPost } from "@src/api";
import { CollectionEntry, getCollection } from "astro:content";
import { Image } from "@components/Image/index.astro";
import avatar from "@assets/images/avatar.jpg";
import { format } from "date-fns";
import TableOfContents from "@components/TableOfContents.astro";
import Prose from "@components/Prose.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog", ({ data }) => {
    return !(!data.publishedAt && import.meta.env.PROD);
  });
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"blog">;
}

// 2. When it's time to render, you can get the entry directly from the prop
const post = await getPost(Astro.props.entry);
const { Content, headings, readingTime } = post;
const { title, description, cover, publishedAt, updatedAt } = post.data;
---

<Layout
  title={title}
  description={description}
  openGraph={{
    basic: {
      title,
      type: "article",
      image: new URL(cover.src, Astro.url),
    },
    article: {
      authors: ["Nicholas Ray"],
    },
    image: {
      width: cover.width,
      height: cover.height,
      alt: cover.alt,
    },
  }}
  twitter={{
    card: "summary_large_image",
  }}
>
  <main class="mt-8">
    <article>
      <section class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
        <h1
          class="mt-6 text-3xl font-extrabold tracking-tight text-zinc-900 [text-wrap:balance] dark:text-white md:mt-10 md:text-center md:text-5xl md:max-w-3xl md:mx-auto lg:mt-14"
        >
          {title}
        </h1>
        <div
          class="mt-4 flex max-w-5xl items-center text-sm font-medium md:mx-auto md:mt-6 md:justify-center md:text-lg lg:mt-10"
        >
          <div class="flex items-center">
            <div class="mr-3 h-10 w-10 rounded-full md:h-12 md:w-12">
              <a href="/about/" class="flex items-center">
                <Image
                  loading="eager"
                  class="rounded-full"
                  src={avatar}
                  widths={[48, 96]}
                  sizes="48px"
                  alt="Avatar"
                />
              </a>
            </div>

            <div class="md:flex md:items-center">
              <div class="font-bold">
                <a href="/about/" class="flex items-center"> Nicholas Ray</a>
              </div>
              <div class="flex items-center mt-0.5 md:mt-0">
                <span class="mx-3 font-bold hidden md:block">·</span>
                <time datetime={publishedAt && publishedAt.toISOString()}>
                  {publishedAt ? format(publishedAt, "LLL d, yyyy") : ""}
                </time>
                {
                  updatedAt && (
                    <>
                      &nbsp;— Updated&nbsp;
                      <time datetime={updatedAt && updatedAt.toISOString()}>
                        {format(updatedAt, "LLL d, yyyy")}
                      </time>{" "}
                    </>
                  )
                }
                <span class="hidden sm:block mx-2 md:mx-3 font-bold">·</span>
                <div class="hidden sm:block">{readingTime}</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="mx-auto mt-8 max-w-7xl px-4 sm:px-6 md:mt-12 md:grid md:grid-cols-[250px_minmax(0,1fr)] md:gap-x-10 md:px-8 lg:mt-14 lg:gap-x-24"
      >
        <div class="hidden md:block">
          <TableOfContents headings={headings} />
        </div>
        <Prose>
          <Content />
        </Prose>
      </section>
    </article>
  </main>
</Layout>

<style is:global>
  .prose {
    > *,
    astro-island > * {
      @apply max-w-2xl;
    }
  }
</style>
