---
import Article from "@components/Article.astro";
import Layout from "@layouts/Layout.astro";
import { getPosts } from "@src/api";
import styles from "./index.module.css";
const { blogSection, blogSectionInner, blogSectionTitle, blogSectionPosts } =
  styles;
const posts = await getPosts();
---

<Layout title="Blog — Nicholas Ray">
  <main>
    <section class={blogSection}>
      <div class={blogSectionInner}>
        <h1 class={blogSectionTitle}>
          {posts.length} Posts
        </h1>
        <ul class={blogSectionPosts}>
          {
            posts.map((post) => (
              <li>
                <Article post={post} />
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </main>
</Layout>
