---
import { Image, Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import avatar from "@assets/images/avatar.jpg";
import { Icon } from "astro-icon";
import ArticleFooter from "@components/ArticleFooter.astro";
import { getPosts } from "@src/api";
import Article from "@components/Article.astro";

const posts = await getPosts();
const featured = posts[0];
const restOfPosts = posts.slice(1);
const title = "Nicholas Ray — Web Performance and Page Speed";
---

<Layout
  title={title}
  description="Web performance tips that improve page speed, user hapiness, and business goals"
  openGraph={{
    basic: {
      title,
      type: "website",
      image: new URL("/avatar.jpg", Astro.url),
    },
    image: {
      alt: "Profile picture of Nicholas Ray",
      // Needed to prevent Astro SEO from outputting blank height tag.
      height: null,
    },
  }}
  twitter={{
    card: "summary_large_image",
  }}
>
  <main class="space-y-20 overflow-hidden sm:space-y-32 md:space-y-40">
    <section class="mt-12 lg:mt-16">
      <div
        class="mx-auto max-w-7xl items-center space-y-12 px-4 sm:px-6 md:grid md:grid-cols-[30rem_30rem] md:gap-14 md:space-y-0 md:px-8 lg:grid-cols-[36.25rem_36.25rem]"
      >
        <div class="md:col-start-2">
          <a
            href={featured.url}
            class="block md:rotate-2 md:hover:rotate-0 md:motion-safe:transition-performant md:motion-safe:duration-300"
          >
            <Picture
              background={undefined}
              class="h-80 w-full rounded-3xl object-cover md:h-[34rem]"
              loading="eager"
              alt={featured.data.cover.alt}
              src={featured.data.cover.src}
              aspectRatio={featured.data.cover.width /
                featured.data.cover.height}
              width={featured.data.cover.width}
              height={featured.data.cover.height}
              widths={[400, 800, 1200]}
              sizes="(min-width: 48rem) 37rem, 100vw"
            />
          </a>
        </div>
        <div class="md:row-start-1">
          <article>
            <a href={featured.url}>
              <h1
                class="text-4xl font-extrabold tracking-tight text-zinc-900 dark:text-white lg:text-5xl"
              >
                {featured.data.title}
              </h1>
            </a>
            <p
              class="mt-8 text-xl text-zinc-600 dark:text-zinc-300 lg:text-2xl"
            >
              {featured.data.description}
            </p>

            <footer
              class="mt-8 text-sm uppercase tracking-wide text-zinc-500 dark:text-zinc-400"
            >
              <ArticleFooter
                publishedAt={featured.data.publishedAt}
                readingTime={featured.readingTime}
              />
            </footer>
          </article>
          <a
            href={featured.url}
            class="relative z-10 mt-12 inline-flex w-full min-w-[12rem] items-center justify-center rounded-full bg-zinc-800 px-6 py-5 text-lg font-semibold text-white dark:bg-zinc-50 dark:text-zinc-900 md:w-auto md:hover:scale-[1.1] md:active:translate-y-1 md:motion-safe:transition-performant md:motion-safe:duration-300"
          >
            Read article</a
          >
        </div>
      </div>
    </section>
    <section>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
        <div
          class="flex items-center justify-between text-zinc-400 dark:text-zinc-700"
        >
          <Icon class="h-12 w-12" name="js" />
          <Icon class="h-12 w-12" name="node" />
          <Icon class="h-12 w-12" name="html" />
          <Icon class="h-12 w-12" name="css" />
          <Icon class="h-12 w-12" name="react" />
        </div>
        <div class="mt-8 md:mt-20">
          <div
            class="flex max-w-5xl flex-col items-center gap-8 md:flex md:flex-row md:items-center md:gap-16"
          >
            <Image
              class="w-[100px] flex-shrink-0 rounded-full border-4 border-zinc-600 dark:border-zinc-300 md:w-[120px]"
              src={avatar}
              width={240}
              alt="Avatar of Nicholas Ray"
            />
            <div>
              <h2
                class="text-3xl font-bold tracking-tight text-zinc-900 dark:text-white md:text-4xl"
              >
                Hi! I'm Nicholas Ray.
              </h2>
              <p
                class="mt-5 text-xl text-zinc-600 dark:text-zinc-300 md:text-2xl"
              >
                I help you optimize your website's page speed to elevate user
                experience, increase conversion rates, and drive better business
                results.
              </p>
            </div>
          </div>
          <div class="mt-12 flex">
            <a
              class="text-xl font-semibold text-zinc-900 dark:text-white md:ml-[calc(120px+4rem)]"
              href="/about/"
            >
              Learn more about me &rarr;
            </a>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
        <h2
          class="relative text-base font-semibold uppercase tracking-wide text-zinc-900 before:absolute before:-top-2 before:block before:h-[3px] before:w-[48px] before:bg-zinc-400 dark:text-white dark:before:bg-zinc-400"
        >
          Recently Published
        </h2>
        <ul
          class="mt-12 space-y-14 md:grid md:grid-cols-[repeat(auto-fill,minmax(350px,1fr))] md:gap-x-9 md:gap-y-14 md:space-y-0"
        >
          {
            restOfPosts.map((post) => (
              <li>
                <Article post={post} />
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </main>
</Layout>
