---
import { Image } from "@components/Image/index.astro";
import ArticleFooter from "./ArticleFooter.astro";
import type { Post } from "@src/types";
import styles from "./Article.module.css";
const { article, articleImage, articleTitle, articleBody, articleFooter } =
  styles;

export interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<a href={post.url}>
  <article class={article}>
    <Image
      alt={post.data.cover.alt}
      class={articleImage}
      src={post.data.cover}
      widths={[400, 800, 1600]}
      sizes="(min-width: 48rem) 28rem, 100vw"
      style={post.data.cover.position
        ? `object-position: ${post.data.cover.position}`
        : undefined}
    />
    <h3 class={articleTitle}>
      {post.data.title}
    </h3>
    <p class={articleBody}>
      {post.data.description}
    </p>
    <footer class={articleFooter}>
      <ArticleFooter
        publishedAt={post.data.publishedAt}
        readingTime={post.readingTime}
      />
    </footer>
  </article>
</a>
