---
import { Image } from "@components/Image/index.astro";
import ArticleFooter from "./ArticleFooter.astro";
import type { Post } from "@src/types";

export interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<a href={post.url}>
  <article class="flex h-full flex-col">
    <div class="rounded-3xl">
      <Image
        alt={post.data.cover.alt}
        class="h-80 w-full rounded-3xl object-cover dark:shadow-lg md:h-[32rem]"
        src={post.data.cover}
        widths={[400, 800, 1600]}
        sizes="(min-width: 48rem) 28rem, 100vw"
      />
    </div>
    <h3
      class="mt-8 text-2xl font-bold tracking-tight text-zinc-900 dark:text-white"
    >
      {post.data.title}
    </h3>
    <p class="mb-6 mt-4 text-lg text-zinc-600 dark:text-zinc-300">
      {post.data.description}
    </p>
    <footer
      class="mt-auto space-x-2 text-sm uppercase tracking-wide text-zinc-500 dark:text-zinc-400"
    >
      <ArticleFooter
        publishedAt={post.data.publishedAt}
        readingTime={post.readingTime}
      />
    </footer>
  </article>
</a>
