---
import { Image } from "@components/Image/index.astro";

interface Props {
  src: ImageMetadata;
  alt: string;
  caption?: string;
  shadow?: boolean;
  fullWidth?: boolean;
  rounded?: boolean;
  background?: boolean;
}

const {
  src,
  alt,
  caption,
  shadow,
  background,
  fullWidth = true,
  rounded = true,
  ...props
} = Astro.props;

const classList: Record<string, boolean> = {
  "flex justify-center": !fullWidth,
  "!mt-0": !fullWidth,
  "w-full": fullWidth,
  "shadow-xl": !!shadow,
  "bg-white": !!background,
  "rounded-lg": !!rounded,
};

const classes = Object.keys(classList)
  .map((key) => {
    return classList[key] ? key : undefined;
  })
  .filter((key) => !!key)
  .join(" ");
---

<figure>
  <a href={src.src}>
    <Image
      alt={alt}
      class={classes}
      src={src}
      widths={[400, 800, 1400]}
      sizes={"(min-width: 48rem) 42.375rem, 100vw"}
      {...props}
    />
  </a>
  {caption && <figcaption>{caption}</figcaption>}
</figure>
