---
interface Props {
  description: string;
  src: string;
  width: string;
  height: string;
  caption: string;
}

const { src, width, height, caption, description } = Astro.props;
const descId = `video-${src.split("/").pop()!.split(".").shift()}`;
---

<figure>
  <video
    aria-describedby={descId}
    width={width}
    height={height}
    controls
    playsinline
    disablepictureinpicture
    loop
    muted
    preload="metadata"
    autoplay
  >
    <source src={src} type="video/mp4" />
  </video>
  {caption && <figcaption>{caption}</figcaption>}
  <p class="sr-only" id={descId}>{description}</p>
</figure>
