---
import { Picture } from "@astrojs/image/components";

interface Props {
  src: ImageMetadata;
  alt: string;
  caption?: string;
  shadow?: boolean;
}

const { src, alt, caption, shadow, ...props } = Astro.props;
---

<figure>
  <a href={src.src}>
    <Picture
      alt={alt}
      class:list={["w-full rounded-2xl", { "shadow-xl": shadow }]}
      class="w-full rounded-2xl"
      src={src}
      width={src.width}
      height={src.height}
      widths={[400, 800, 1800]}
      sizes="(min-width: 48rem) 55rem, 100vw"
      {...props}
    />
  </a>
  {caption && <figcaption>{caption}</figcaption>}
</figure>
