---
import { Image } from "@components/Image/index.astro";
import "./BlogImage.css";

interface Props {
  src: ImageMetadata;
  alt: string;
  caption?: string;
  shadow?: boolean;
  fullWidth?: boolean;
  rounded?: boolean;
  background?: boolean;
  loading?: "eager" | "lazy";
  fetchpriority?: "high" | "low" | "auto";
}

const {
  src,
  alt,
  caption,
  shadow,
  background,
  fullWidth = true,
  rounded = true,
  ...props
} = Astro.props;

const classList: Record<string, boolean> = {
  "blog-image--centered": !fullWidth,
  "blog-image--full-width": fullWidth,
  "blog-image--shadow": !!shadow,
  "blog-image--white-background": !!background,
  "blog-image--rounded": !!rounded,
};

const classes = Object.keys(classList)
  .map((key) => {
    return classList[key] ? key : undefined;
  })
  .filter((key) => !!key)
  .join(" ");
---

<figure>
  <a href={src.src}>
    <Image
      alt={alt}
      class={classes}
      src={src}
      widths={[400, 800, 1400]}
      sizes={"(min-width: 48rem) 42.375rem, 100vw"}
      {...props}
    />
  </a>
  {caption && <figcaption>{caption}</figcaption>}
</figure>
