---
import styles from "./MailingList.module.css";
const {
  mailingList,
  mailingListTitle,
  mailingListBody,
  mailingListForm,
  mailingListInner,
  mailingListInput,
  mailingListButton,
  mailingListFooter,
} = styles;
interface Props {
  url: string;
}

const { url } = Astro.props;
---

<div class={mailingList} id="newsletter">
  <h2 class={mailingListTitle}>Become a better front-end developer</h2>
  <p class={mailingListBody}>
    Get front-end development tips that improve page speed, user happiness, and
    business results 🚀
  </p>
  <form action={url} method="post" class={mailingListForm}>
    <div class={mailingListInner}>
      <input
        type="email"
        name="email_address"
        required
        class={mailingListInput}
        placeholder="Email Address"
        aria-label="Email Address"
      />
      <button type="submit" class={mailingListButton}> Subscribe</button>
    </div>
  </form>
  <div class={mailingListFooter}>No spam. Unsubscribe anytime.</div>
</div>
