---
import { SEO, type Props as SeoProps } from "astro-seo";
import "../global.css";
import "../styles/global.css";
import { theme } from "@styles/themes/themes.css";
import * as t from "@styles/tokens/tokens";

export interface Props extends SeoProps {
  title?: string;
  htmlClass?: string;
}

const { title = "Nicholas Ray", htmlClass, ...rest } = Astro.props;
---

<html lang="en" class={htmlClass}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <SEO {...rest} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta
      name="theme-color"
      content={t.color.zinc[50]}
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content={t.color.zinc[900]}
      media="(prefers-color-scheme: dark)"
    />
    <meta name="color-scheme" content="light dark" />
    <slot name="before-styles" />
    <script
      is:inline
      defer
      data-domain="nray.dev"
      data-api="https://analytics.nray.dev/api/event"
      src="/assets/js/analytics.js"></script>
    <link
      as="font"
      crossorigin="anonymous"
      href="/assets/fonts/inter.var.woff2"
      rel="preload"
      type="font/woff2"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class={theme}>
    <slot />
  </body>
</html>
