---
import Layout from "./Layout.astro";
import { Image } from "@astrojs/image/components";
import avatar from "@assets/images/avatar.jpg";
import { format } from "date-fns";
import Prose from "@components/Prose.astro";
import type { Post, PostFrontmatter } from "src/types";

const { title, readingTime, publishedAt, description } = Astro.props
  .frontmatter as PostFrontmatter;
---

<Layout title={title} description={description}>
  <main>
    <section class="mt-16">
      <article class="mx-auto max-w-3xl px-4 sm:px-6 md:px-8">
        <h1 class="text-3xl font-bold text-white md:text-5xl">
          {title}
        </h1>
        <div
          class="mb-8 mt-6 space-y-3 text-sm font-medium sm:flex sm:items-center sm:justify-between sm:space-y-0 sm:text-base"
        >
          <a href="/about" class="flex items-center">
            <div class="mr-3 h-9 w-9 rounded-full">
              <Image
                loading="eager"
                class="rounded-full"
                src={avatar}
                width={72}
                alt="Avatar"
              />
            </div>
            <div>Nicholas Ray</div>
          </a>
          <div>
            <time datetime={publishedAt}>
              {publishedAt ? format(new Date(publishedAt), "LLLL d, yyyy") : ""}
            </time>
            <span> — {readingTime}</span>
          </div>
        </div>
        <Prose>
          <slot />
        </Prose>
      </article>
    </section>
  </main>
</Layout>
