---
import Layout from "./Layout.astro";
import { Image, Picture } from "@astrojs/image/components";
import avatar from "@assets/images/avatar.jpg";
import { format } from "date-fns";
import Prose from "@components/Prose.astro";
import type { PostFrontmatter } from "src/types";
import { getPost } from "src/api";
import type { MDXInstance } from "astro";

const post = await getPost(Astro.props as MDXInstance<PostFrontmatter>);
const { title, readingTime, publishedAt, description, cover } =
  post.frontmatter;
---

<Layout
  title={title}
  description={description}
  openGraph={{
    basic: {
      title,
      type: "article",
      image: new URL(cover.src, Astro.url),
    },
    article: {
      authors: ["Nicholas Ray"],
    },
    image: {
      width: cover.width,
      height: cover.height,
      alt: cover.alt,
    },
  }}
  twitter={{
    card: "summary_large_image",
  }}
>
  <main class="mt-8">
    <article>
      <section class="mx-auto max-w-6xl px-4 sm:px-6 md:px-8">
        <div class="rounded-3xl">
          <Picture
            background={undefined}
            alt={post.frontmatter.cover.alt}
            loading="eager"
            class="h-80 md:h-[32rem] w-full rounded-3xl object-cover shadow-lg"
            src={post.frontmatter.cover.src}
            aspectRatio={post.frontmatter.cover.width /
              post.frontmatter.cover.height}
            width={post.frontmatter.cover.width}
            height={post.frontmatter.cover.height}
            widths={[400, 800, 1600]}
            sizes="(min-width: 48rem) 44rem, 100vw"
          />
        </div>
        <h1
          class="mx-auto mt-6 max-w-4xl text-center text-3xl font-bold tracking-tight text-white md:mt-10 md:text-5xl lg:mt-14"
        >
          {title}
        </h1>
        <div
          class="mt-4 flex items-center justify-between text-sm font-medium sm:text-base md:mt-6 lg:mt-10"
        >
          <a href="/about" class="flex items-center">
            <div class="mr-3 h-9 w-9 rounded-full">
              <Image
                loading="eager"
                class="rounded-full"
                src={avatar}
                width={72}
                alt="Avatar"
              />
            </div>
            <div>Nicholas Ray</div>
          </a>
          <div>
            <time datetime={publishedAt}>
              {publishedAt ? format(new Date(publishedAt), "LLL d, yyyy") : ""}
            </time>
            <span> — {readingTime}</span>
          </div>
        </div>
      </section>
      <section
        class="mx-auto mt-6 max-w-3xl px-4 sm:px-6 md:mt-10 md:px-8 lg:mt-14"
      >
        <Prose>
          <slot />
        </Prose>
      </section>
    </article>
  </main>
</Layout>

<style is:global>
  .sp-layout {
    display: block !important;
  }

  .sp-preview {
    width: auto !important;
  }

  .sp-preview,
  .sp-editor {
    min-height: 400px;
  }
</style>
